/*******************/
/* modal component */
/*******************/

.modal{
    @include flex(flex,center,center);
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    animation: fade-in-background 0.15s forwards;

    &.close{
        animation: fade-out-background 0.15s forwards;

        .box{
            animation: pop-out .2s forwards
        }
    }

    &.hero-image{
        .box{
            .header{
                @include bg($grayscale-level-1);
                position: relative;
                height: 315px;
                border-bottom: 1px solid #495057;
                overflow: hidden;

                .hero{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 380px;
                }

                .close-sign{
                    position: absolute;
                    right: 20px;
                }
            }
        }
    }

    .box{
        @include flex(flex,initial,initial);
        flex-direction: column;
        min-width: 450px;
        @include bg($grayscale-level-2);
        @include radius(3px);
        position: relative;
        overflow: hidden;
        @include trans(scale(0));
        animation: pop-in .2s .3s forwards;

        .header{
            @include flex(flex,center,initial);
            @include bg($grayscale-level-4);
            @include pd(20px);
            @include c($grayscale-level-7);
            left: 0;
            top: 0;
            width: 100%;

            h3{
                @include mr(auto);
            }
        }

        .body{
            @include pd(35px 25px);
        }

        .footer{
            @include flex(flex,center,initial);
            @include pd(25px);
        }
        
        .close-sign{
            @include mr-r(0);
            @include fs(17px);
            @include pointer();
            @include c($accentColor);
            @include transition(transform .3s);
            
            &:hover{
                @include trans(rotate(90deg));
            }
        }
    }
}






/*********/
/* media query */
/*********/

@media screen and(max-width: 500px){
    .modal{

    
        &.close{
    
            .box{
            }
        }
    
        &.hero-image{
            .box{
                .header{
    
                    .hero{

                    }
    
                    .close-sign{

                    }
                }
            }
        }
    
        .box{
            top: 25px;
            max-height: 500px;
    
            .header{

    
                h3{
                }
            }
    
            .body{
            }
    
            .footer{

            }
            
            .close-sign{

                
                &:hover{
                }
            }
        }
    }


}