/****************/
/* Sizes */
/****************/

$xs: 3px;
$sm: 5px;
$md: 10px;
$lr: 15px;
$xl: 25px;


// font-sizes

$fXxs: 12px;
$fXs: 14px;
$fSm: 16px;
$fMd: 20px;
$fLr: 28px;
$fXl: 36px;
$fXxl: 40px;


.f-xs{
    font-size: 14px
}

.f-sm{
    font-size: 16px
}

.f-md{
    font-size: 20px
}

.f-lr{
    font-size: 28px
}

.f-xl{
    font-size: 36px
}

.f-xxl{
    font-size: 44px
}

/************/
/** mixin **/
/************/

@mixin bg-prop($prop,$val){
    background-#{$prop}: $val
}

@mixin trans($property) {
    -webkit-transform: $property;
    transform: $property;
}

@mixin transition($property) {
    -webkit-transition: $property;
    transition: $property;
}

@mixin flex($flex:flex, $justify-content:flex-start, $align-items:stretch) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: $flex;
    -webkit-box-pack: $justify-content;
        -ms-flex-pack: $justify-content;
            justify-content: $justify-content;
    -webkit-box-align: $align-items;
        -ms-flex-align: $align-items;
            align-items: $align-items;
}

@mixin flex-b($property){
    flex-basis: $property
}

@mixin resetList(){
    list-style: none;
    margin: 0;
    padding: 0
}

@mixin center(){
    text-align: center
}

@mixin pointer(){
    cursor: pointer
}

@mixin pd($property){
    padding: $property
}

@mixin pd-t($property){
    padding-top: $property
}

@mixin pd-r($property){
    padding-right: $property
}

@mixin pd-b($property){
    padding-bottom: $property
}

@mixin pd-l($property){
    padding-left: $property
}

@mixin mr($property){
    margin: $property
}

@mixin mr-t($property){
    margin-top: $property
}

@mixin mr-r($property){
    margin-right: $property
}

@mixin mr-b($property){
    margin-bottom: $property
}

@mixin mr-l($property){
    margin-left: $property
}

@mixin radius($property){
    border-radius: $property
}

@mixin c($property){
    color: $property
}

@mixin fill($property){
    fill: $property
}

@mixin bg($property){
    background: $property
}

@mixin fs($property){
    font-size: $property
}

@mixin shadow($property){
    box-shadow: $property
}

@mixin border($property){
    border: $property
}

@mixin hide(){
    display: none
}

@mixin hidden(){
    visibility: hidden;
}

@mixin db(){
    display: block
}



/************/
/*** Colors ***/
/************/

/* scheme 1  primary  in the page   https://www.pinterest.com/pin/83457399332523588/*/
/* #f7444e */
/* #f7f8f3 */
/* #78bcc4 */
/* #002c3e */
/* scheme 1 accent */

/* scheme 1 neutral colors */

/* scheme 1 feedback colors */
$error: #c64344;
$success: #4ba255;
$warning: #df954c;  
$info: #3daac6;

/* neturals */
$grayscale-level-1: #f8f9fa;
$grayscale-level-2: #e9ecef;
$grayscale-level-3: #dee2e6;
$grayscale-level-4: #ced4da;
$grayscale-level-5: #adb5bd;
$grayscale-level-6: #6c757d;   
$grayscale-level-7: #495057;
$grayscale-level-8: #343a40;
$grayscale-level-9: #141619;

/* primary */
$mainColor: #78bcc4;
$secondaryColor: #002c3e;  
$accentColor: #f7444e;  

// shades
$accentColorDark: #c93f45; //20% more black

// :export {
//     $mainColor: #78bcc4;
//     $secondaryColor: #002c3e;  
//     $accentColor: #f7444e;
// }

:root {
    /* primary */
    --main-color: #78bcc4;  /* last one: Pink: e64e89 */
    --secondary-color: #002c3e;  

    --accent-color: #f7444e;  
    /* --shades: #f7f8f3;   */

    /* neturals */
    --grayscale-100: #f8f9fa;
    --grayscale-200: #e9ecef;
    --grayscale-300: #dee2e6;
    --grayscale-400: #ced4da;
    --grayscale-500: #adb5bd;
    --grayscale-600: #6c757d;   
    --grayscale-700: #495057;
    --grayscale-800: #343a40;
    --grayscale-900: #212529;


}










/****************/
/* Radio Button */
/****************/

//regular radios
.radio-button{
    @include db();
    @include pointer();

    .radio{
        @include flex(flex,initial,initial);

        input{
            position: absolute;
            opacity: 0;
        }

        .icon{
            width: 20px;
            height: 20px;
            @include mr-r($xs);

            #radio-circle{
                .check{
                    overflow: hidden;
                    @include fill(transparent);
                    @include trans(scale(0));
                    transform-origin: center center;
                    transition: fill .4s, transform .3s
                }

                .ring{
                    @include fill($mainColor);
                }
            }
        }
    }

    &.selected{
        .radio{
            input{
                + .icon{
                    #radio-circle{
                        .check{
                            @include fill($mainColor);
                            @include trans(scale(1));
                        }
                    }
                }
            }
        }
    }
}


//press buttons
.press-buttons{
    @include flex(flex,initial,initial);

    .radio-button{
        @include db();
        @include pointer();
        position: relative;

        &:first-child{
            .radio{
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }

        &:last-child{
            .radio{
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

        }

        &.selected{
            .radio{
                @include shadow(inset -2px 5px 12px rgba(0,0,0,0.2));
            }
        }
    
        .radio{
            @include flex(flex,initial,initial);
            @include pd(20px);
            @include bg($accentColor);
            @include transition(box-shadow .1s ease-in);
    
            input{
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;

                &[checked]{
                    + .icon{
                        @include hide();
                        #radio-circle{
                            .check{
                                @include fill($mainColor);
                                @include trans(scale(1));
                            }
                        }
                    }
                }
            }
    
            .icon{
                @include hide();
            }

            .label{
                @include c($grayscale-level-1);
            }
        }
    }
}





/*********/
/* media query */
/*********/