/****************/
/* Radio Button */
/****************/

//regular radios
.radio-button{
    @include db();
    @include pointer();

    .radio{
        @include flex(flex,initial,initial);

        input{
            position: absolute;
            opacity: 0;
        }

        .icon{
            width: 20px;
            height: 20px;
            @include mr-r($xs);

            #radio-circle{
                .check{
                    overflow: hidden;
                    @include fill(transparent);
                    @include trans(scale(0));
                    transform-origin: center center;
                    transition: fill .4s, transform .3s
                }

                .ring{
                    @include fill($mainColor);
                }
            }
        }
    }

    &.selected{
        .radio{
            input{
                + .icon{
                    #radio-circle{
                        .check{
                            @include fill($mainColor);
                            @include trans(scale(1));
                        }
                    }
                }
            }
        }
    }
}


//press buttons
.press-buttons{
    @include flex(flex,initial,initial);

    .radio-button{
        @include db();
        @include pointer();
        position: relative;

        &:first-child{
            .radio{
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
        }

        &:last-child{
            .radio{
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

        }

        &.selected{
            .radio{
                @include shadow(inset -2px 5px 12px rgba(0,0,0,0.2));
            }
        }
    
        .radio{
            @include flex(flex,initial,initial);
            @include pd(20px);
            @include bg($accentColor);
            @include transition(box-shadow .1s ease-in);
    
            input{
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;

                &[checked]{
                    + .icon{
                        @include hide();
                        #radio-circle{
                            .check{
                                @include fill($mainColor);
                                @include trans(scale(1));
                            }
                        }
                    }
                }
            }
    
            .icon{
                @include hide();
            }

            .label{
                @include c($grayscale-level-1);
            }
        }
    }
}





/*********/
/* media query */
/*********/